<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="map-container" style='width: 800px;'>
  <div id="map"></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
